 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a fast and avid learner who likes to solve software related problems as well as creating new and unexpected experiences through technology.</p>
                </div>
                <div class="col-lg-4">
                    <p>I believe that technology is meant to be used by everyone, and so using it should be as easy as possible. This is why I always develop with that in mind, so I create software for people to use.</p>
                </div>
            </div>
        </div>
    </section>